table {
    width: 100%;
  }

  .table-container {
    height: 700px; /* set the height of the container */
    overflow-y: scroll; /* enable vertical scrolling */
  }
  .section2{
    justify-content: center;
    width: 100%;
    display: flex;
  }
  mat-toolbar{
    justify-content: center;
    align-items: center;
  }
  tr{
    cursor: pointer;
  }